/******************************主题色****************************/
@blue: var(--blue);
@green: var(--green);
@red: var(--red);
@yellow: var(--warning-color);
@orange: var(--orange);
@purple: var(--purple);
@gray: var(--gray);

/*****************************文字颜色*****************************/

//主要文字颜色
@black3: var(--black3);
// 次要文字颜色
@black6: var(--black6);
// 辅助性文字颜色
@black9: var(--black9);

/*****************************边框颜色*****************************/
// 边框颜色
@border-color: var(--border-color);

/*****************************背景色*****************************/
// 背景色
@bgc: var(--bgc);
@bgc-blue: var(--bgc-blue);

// 阴影
@shadow-up: var(--shadow-up);
@shadow-down: var(--shadow-down);
@shadow-left: var(--shadow-left);
@shadow-right: var(--shadow-right);

// 全局less变量

/******************************主题色****************************/
@theme: var(--theme);

@primary-color: var(--primary-color);
@success-color: var(--success-color);
@warning-color: var(--warning-color);
@danger-color: var(--danger-color);
@info-color: var(--info-color);
@purple-color: var(--purple-color);
@dark-blue-color: var(--dark-blue-color);

@green: var(--green);
@red: var(--red);
@orange: var(--orange);
@purple: var(--purple);
@blue: var(--blue);
@dark-blue: var(--dark-blue);
@gray: var(--gray);

/*****************************文字颜色*****************************/

//主要文字颜色
@black3: var(--black3);
// 次要文字颜色
@black6: var(--black6);
// 辅助性文字颜色
@black9: var(--black9);

@primary-text: var(--primary-text);
@regular-text: var(--regular-text);
@secondary-text: var(--secondary-text);

// 边框颜色
@border-color: var(--border-color);

// 基础边框
@base-border: var(--base-border);
@border-radius: var(--border-radius);
@box-shadow: var(--box-shadow);

// 背景色
@bgc: var(--bgc);
@bgc-blue: var(--bgc-blue);
@bgc-red: var(--bgc-red);
@bgc-green: var(--bgc-green);
@bgc-purple: var(--bgc-purple);
@bgc-dark-blue: var(--bgc-dark-blue);

@loginHeight: var(--loginHeight); // 登录界面输入框高度
