/******************************主题色****************************/
@blue: #1890ff;
@green: #52c41a;
@red: #f5222d;
@yellow: #fadb14;
@orange: #fa8c16;
@purple: #722ed1;

/*****************************文字颜色*****************************/

//主要文字颜色
@black3: #262626;
// 次要文字颜色
@black6: #595959;
// 辅助性文字颜色
@black9: #8c8c8c;

/*****************************边框颜色*****************************/
// 边框颜色
@border-color: #d9d9d9;

/*****************************背景色*****************************/
// 背景色
@bgc: #f5f5f5;
@bgc-blue: #e6f7ff;
